.container{
  overflow: auto;
  margin-left: 10%;
  margin-top: 2%;
}


.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    // width: 100px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  

  .active{
    background-color: #29abe2;
    background: royalblue;
    color: red;
    // color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .alignment{
    margin-left: 50%
  }

  a{
      cursor: pointer;
  }

  .title{
    text-align: center;
    background-color: rgb(235, 234, 225);
  }
