
<div class="main-container">

    <mat-toolbar class="toolbar">
  <h1>AuthorManagementApp</h1>
    </mat-toolbar>
  
  
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #appDrawer class="example-sidenav" mode="side" opened="true">
  
        <div class="dashboard">
        <mat-nav-list >
          

    <button mat-button class="menu-button" (click)="goto()">

        <span>Author</span>
      </button>

      <button mat-button class="menu-button" (click)="gotoFavorite()">

        <span>Favorite Author</span>
      </button>
  
        </mat-nav-list>
    </div>
      </mat-sidenav>
  
      <div class="sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>
  </div>
  
  
